@charset "utf-8";

// APP
#app{
  display: flex;
  justify-content: center;
  width: 100%;
}

// SIGNUP
#signup_form{
  padding-top: 50px;
  width: 80%;
  max-width: 500px;
}

.signup_title{
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#signup_form__form{
  width: 100%;
  padding: 0;
}
#signup_form__form .row{
  width: 100%;
  margin: 0 0 10px 0;
  justify-content: space-between;
}
#signup_form__form .col{
  padding: 0;
  flex-grow: 0;
  max-width: calc(50% - 5px);
  width: calc(50% - 5px);
  min-width: calc(50% - 5px);
}
#signup_form__form .col label{
  margin-bottom: 2px;
}

#signup_submit{
  margin-top: 10px;
  margin-bottom: 5px;
}

// SIGNIN
#signin_form{
  padding-top: 50px;
  width: 80%;
  max-width: 500px;
}

.signin_title{
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#signin_form__form{
  width: 100%;
  padding: 0;
}
#signin_form__form .row{
  width: 100%;
  margin: 0 0 10px 0;
  justify-content: space-between;
}
#signin_form__form .col{
  padding: 0;
  flex-grow: 0;
  max-width: calc(50% - 5px);
  width: calc(50% - 5px);
  min-width: calc(50% - 5px);
}
#signin_form__form .col label{
  margin-bottom: 2px;
}

#signin_submit{
  margin-top: 10px;
  margin-bottom: 5px;
}

// STUDENT
#student_form{
  padding-top: 50px;
  width: 80%;
  max-width: 500px;
}

.student_title{
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#student_form__form{
  width: 100%;
  padding: 0;
}
#student_form__form .row{
  width: 100%;
  margin: 0 0 10px 0;
  justify-content: space-between;
}
#student_form__form .col{
  padding: 0;
  flex-grow: 0;
  max-width: calc(50% - 5px);
  width: calc(50% - 5px);
  min-width: calc(50% - 5px);
}
#student_form__form .col label{
  margin-bottom: 2px;
}

#student_submit{
  margin-top: 10px;
  margin-bottom: 5px;
}

.student_input__image{
  width: calc(100% - 20px);
  object-fit: cover;
  margin-bottom: 10px;
}

.input__error{
  color: red;
  font-size: 14px;
}

.app_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Classes
#classes_list{
  padding-top: 50px;
  width: 80%;
  max-width: 500px;
}

.classes_title{
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#classes_list ul, #classes_list li{
  width: 100%;
}
#classes_back_profil{
  margin-top: 20px;
}

nav.navbar{
  width: 100%;
  background-color: rgb(233, 233, 233);
}

nav.navbar .container-fluid{
  display: flex;
  justify-content: center;
}

nav.navbar .container-fluid .nav_container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav.navbar .navbar-nav{
  display: flex;
  flex-direction: row;
}
nav.navbar .navbar-nav li{
  margin-right: 20px;
}
nav.navbar .navbar-nav li a{
  color: var(--primary);
}
nav.navbar .navbar-nav li a:hover{
  color: var(--info);
}

// Students in classes
#classe_students_list{
  padding-top: 50px;
  width: 80%;
  max-width: 500px;
}
.students_list-group{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-height: 75vh;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.225);
  border-radius: 0.25rem;
}

.students_list-group > div{
  width: calc(50% - 15px);
  height: fit-content;
  margin-bottom: 30px;
}
.students_list-group .btn{
  width: 100%;
}